body{
	max-width: 3840px;
	background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1{
	font-family: 'Heebo', sans-serif;
	font-weight: lighter;
	font-size: 40px;
	text-align: center;
	color: black;
}
img{
	height: 48px;
	margin: 10px 0px 10px 0px;
}
p{
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	max-width: 60%;
	text-align: center;
	margin: 0 auto;
	color: grey;
}
.strong{
	font-family: 'Heebo', sans-serif;
	font-size: 26px;
}
a{
	font-family: 'Heebo', sans-serif;
	font-weight: 100;
	font-size: 24px;
	color: grey;
	text-decoration: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
a:hover{
	color: #7DDEFF;
}
.button{
	display: block;
	text-align: center;
	margin: 20px 0px 20px 0px;
}
div{
    margin-top:50px;
}

.fa{
	color: grey;
}
footer{
	margin: 10% 0 0 0;
}
.line{
	width: 100px;
	height: 1px;
	background: rgba(0,0,0,4);
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: -10px;
	
}

@media (max-width: 600px){
	p{
		max-width: 500px;
	}
}
