body{
	max-width: 3840px;
	background: url("../images/bg.jpg");
	background-size: 100%;
	background-position: center;
}
h1{
	font-family: 'Heebo', sans-serif;
	font-weight: lighter;
	font-size: 40px;
	text-align: center;
	color: #fff;
}
img{
	height: 48px;
	margin: 10px 0px 10px 0px;
}
p{
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	max-width: 500px;
	text-align: center;
	margin: 0 auto;
	color: #fff;
}
.strong{
	font-family: 'Heebo', sans-serif;
	font-size: 26px;
}
a{
	font-family: 'Heebo', sans-serif;
	font-weight: 100;
	font-size: 24px;
	color: #fff7;
	text-decoration: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
a:hover{
	color: #7DDEFF;
}
.button{
	display: block;
	text-align: center;
	margin: 20px 0px 20px 0px;
}
div{
    margin-top:50px;
}

.fa{
	color: #0007;
}
footer{
	margin: 10px;
}
.line{
	width: 100px;
	height: 1px;
	background: #0004;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: -10px;
	
}
@media (max-width: 500px){
body{
	
}
